<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>

body {
    margin: 0;
    padding: 0;
}

main {
    width: 1585px;
    height: 900px;
    margin: 0 auto;
    background-color:beige;
    padding-top: 30px;
}

.box {
    border: 1px solid rgb(15, 125, 15);
    border-radius: 10px;
    text-align: center;
    width: 850px;
    margin: auto;
    font-family:Arial, Helvetica, sans-serif;
}

header {
    padding: 0px 0px 15px 0px ;
    border-bottom: 1px solid rgb(15, 125, 15);

}

img {
    width: 100px; 

}


.logo {
    display: inline;
    color: rgb(15, 125, 15);
    margin: 23px;
    margin-left: -29px;
}

.bie {
    font-size: 25px;
    color: rgb(57, 56, 56);
}

.frase {
    color: rgb(14, 107, 14);
}

.semilla {
    width: 250px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(14, 53, 14);
    margin: 10px 0px 25px;
}

.gracias {
    margin: auto;
    width: 555px;
    color: rgb(44, 43, 43);
}

.para {
    font-size: 11px;
    color: rgb(44, 43, 43);
}

.boton {
    padding: 5px;
    color: white;
    border: none;
    border-radius: 3px ;
    background: rgb(15, 125, 15);
    cursor:pointer;
    margin: 10px 0px 20px;
}

.ultimo {
    padding-top: 10px;
    text-align: center;
    color: rgb(95, 95, 95);
    font-family:'arial';
    font-size: 12px;
    margin: auto;
    width: 500px;
}
h2.float1 {
    color: rgb(15, 125, 15);
    float: left;
    margin: 27px 0px 0px 211px;
}

h2.float2{
    color: rgb(15, 125, 15);
    float: right;
    margin: 27px 202px 0px 0px;
}


    </style>
</head>

<body>
    <main>
        <div class="box">
            <header>
                <h2 class="float1">D E F A U L T H</h2>
                <img src="https://scontent.xx.fbcdn.net/v/t1.15752-9/319281170_1235260153999265_6149665340639642985_n.png?_nc_cat=110&ccb=1-7&_nc_sid=aee45a&_nc_eui2=AeHgBs2-A6dIrNacXTzILoTo1VCwtVjwr8DVULC1WPCvwJVbX2DOsoh_K8Z1QPGdW4j57dvN7OqntRodsJL-V_uA&_nc_ohc=lNzBihDm6tYAX9_B57N&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&oh=03_AdSP_7Vs8XXYcymLHuqBsanNKs3TVGQ80WjyVRp-OjATSA&oe=63C1D476" alt="logo">
                <h2 class="float2">M E M B E R S</h2>
            </header>
            <p class="bie">!BIENVENID@¡</p>

            <h2 class="frase">"Un paso grande para tí y un abrazo para la madre tierra"</h2>

            <img class="semilla" src="https://scontent.xx.fbcdn.net/v/t1.15752-9/319042640_714622953220605_6338429204370137583_n.jpg?stp=dst-jpg_p403x403&_nc_cat=102&ccb=1-7&_nc_sid=aee45a&_nc_eui2=AeEwLD7wPFsGzjL6MlRFrfXJIigufZIJJAEiKC59kgkkAQY2MIVGYZwbSGiJNgLINq-cVZhr8M8cU5Hs5-vjyH0Q&_nc_ohc=Qn7s8K3GQQAAX8V--me&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&oh=03_AdT4M_uOwVT5GYu2-91E6lWErs2NEVQFQ4fubOI-c2Fw7w&oe=63C1E027" alt="">

            <p class="gracias">!Gracias por elegir y depositar tu confianza en esta maravillosa comunidad de DEFAULTH MEMBERS¡</p>


            <p class="para">Para nostros lo mas importante son los usuarios y el cuidado al medio ambiente</p>

            <input class="boton" type="submit" value="INICIAR SESIÓN">
        </div>

        <p class="ultimo">Estas recibiendo este correo electronico porque recientemente creó una nueva cuenta en DEFAULTH MEMBERS.
        </p>
    </main>
</body>

</html>